<header>

  <div class="wrapper">

    <img class="site-logo" src="">
    <h1 class="site-logo">mobi</h1>
    <h3 class="site-title">.Insight</h3>

    <ul class="nav nav-tabs navbar-right">
      <li role="presentation" class="active"><a href="#">Overview</a></li>
      <li role="presentation"><a href="/img/dashboard.png">Dashboard</a></li>
      <li role="presentation"><a href="/img/branch-list.png">Branch List</a></li>
      <li role="presentation"><a href="/img/vehicle-list.png">Vehicle List</a></li>
      <li role="presentation"><a href="/img/driver-list.png">Driver List</a></li>
      <li role="presentation"><a href="/img/goals.png">Goals</a></li>
      <li role="presentation"><a href="/img/import.png">Import</a></li>
    </ul>
  </div>
  <div class="sub-header">
    <div id="sideFilterIcon" class="open">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</header>
